/* BASE PAGE STYLES BEGIN */
body {
	background-color: white;
}
/* BASE PAGE STYLES END */

/* GENERIC STYLES BEGIN */
.inline-block {
	display: inline-block;
}
/* GENERIC STYLES END */

/* BOARD.HTML STYLES BEGIN */
.display-wrapper {
	padding: 0px;
	margin: 0px;
	border: none;
}
.panel {
	height: 900px;
}
.side-panel {
	width: 300px;
	
	padding: 0px;
	margin: 0px;
	border: none;
	
	background-color: black;
}
.centre-panel {
	width: 600px;
	
	position: relative;
}
/* BOARD.HTML STYLES END */
