/* BASE PAGE STYLES BEGIN */
body {
	background-color: white;
}
/* BASE PAGE STYLES END */

/* GENERIC STYLES BEGIN */
.inline-block {
	display: inline-block;
}
.no-margin {
	margin: 0px;
}
.no-padding {
	padding: 0px;
}
.no-border {
	border: 0px;
}
/* GENERIC STYLES END */

/* BOARD.HTML STYLES BEGIN */
.display-wrapper {
	min-width: 1210px;
}
.panel {
	height: 900px;
}
.side-panel {
	width: 300px;
	background-color: lightgrey;
}
.centre-panel {
	width: 600px;
	
	position: relative;
}
.next-piece {
	width: 300px;
	height: 300px;
	position: absolute;
}
.score-list {
	position: absolute;
	top: 300px;
	width: 300px;
}
/* BOARD.HTML STYLES END */
